# dependencies
node_modules/

# Next.js
.next/
out/

# env files (secrets)
.env
.env.*.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / Editor
.DS_Store
Thumbs.db

# VS Code (opcional: guardá solo settings compartibles)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# TypeScript
*.tsbuildinfo

# Coverage / tests
coverage/

# Misc
*.local
